body {
    background: linear-gradient(234deg, #fff, #d3cfcb99);
    background-size: 100% 100%;
    
    background-size: 400% 400%;
    background-position: 100% 0%;

    animation: color-fill 5s ease forwards;
    animation-delay: 8.5s;
}

.fade {
    /*(w)elcome*/
    animation: draw 1.5s linear forwards;
    animation-delay: .5s;
    
    box-shadow: 5px red;
}

.fade1 {
    /*(w)elcome*/
    animation: draw 1.6s linear forwards;
    animation-delay: 1.1s;
}

.fade2 {
    /*w(el)come*/
    animation: draw 2.5s linear forwards;
    animation-delay: 1.8s;
}

.fade3 {
    /*wel(c)ome*/
    animation: draw 2.8s linear forwards;
    animation-delay: 3.4s;
}

.fade4 {
    /*welc(om)e*/
    animation: draw 3s linear forwards;
    animation-delay: 4s;
}

.fade5 {
    /*welco(m)e*/
    animation: draw 2.5s linear forwards;
    animation-delay: 5.15s;
}

.fade6 {
    /*welco(m)e*/
    animation: draw 2.5s linear forwards;
    animation-delay: 5.5s;
}

.fade7 {
    /*welcom(e)*/
    animation: draw-pull 4.5s linear forwards;
    animation-delay: 5.9s;
    
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
}

.round {
    stroke-linecap: round;
    stroke-miterlimit: 2;
    stroke: #203a5a;
    fill: none;
    stroke-width: 40;

    stroke-dasharray: 2500;
    stroke-dashoffset: 2500;
}

#welcome {
    position: absolute;
    width: 1600px;
    
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    animation: slide 5s forwards;
    animation-delay: 6s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes draw-pull {
    50% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -2500;
    }
}

@keyframes slide {
   0% { transform: translateX(0%) translateY(-50%); }
   100% { transform: translateX(-100%) translateY(-50%); }
}


#header {
    position: absolute;
    display: inline-block;
    height: 130px;
    width: 100%;
    left: 100%;
    
    box-shadow: 5px 6px 5px dimgrey;
}

#main {
    transform: translateX(20px);
    padding: none;
    animation: slide 3.2s forwards;
    animation-delay: 6.9s;
}

#title {
    margin: auto;
    width: 50%;
    font-weight: bold;
    color: white;
    text-align: center;
    width: 100px;
    line-height: 2.6;
    font-size: 48px;
    
    display: none;
}

.color {
    width: 100%;
    height: 100%;
    background: linear-gradient(234deg, #ffffff, #203a5a);
    background-size: 400% 400%;
    background-position: 100% 0%;

    animation: color-fill 5s ease forwards;
    animation-delay: 8.2s;
}

@keyframes color-fill {
    100% { background-position: 0% 100%; }
}
